PORT=8080
FIREBASE_PROJECT_ID=cp5-chat
FIREBASE_CLIENT_EMAIL=firebase-adminsdk@cp5-chat.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY=CONFIGURAR_APENAS_NA_HOSPEDAGEM
FIREBASE_DATABASE_URL=https://cp5-chat-default-rtdb.firebaseio.com
CLOUDINARY_CLOUD_NAME=seu-cloud-name
CLOUDINARY_API_KEY=sua-api-key
CLOUDINARY_API_SECRET=CONFIGURAR_APENAS_NA_HOSPEDAGEM
